body{
    background-color: #EEF5FF;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 300;
}

h1 {
    font-size: 3rem;
    padding-bottom: 40px;
}

h3 {
    padding-top: 30px;
    font-size: 2.5rem;
    padding-bottom: 30px;
}

p {
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.main-heading{
    font-size: 5rem;
    line-height: 1.5;
    font-weight: 300;
    padding-top: 130px;
    padding-bottom: 40px;
}

.light-section{
    background-color: #B4D4FF;
    color: #000;
}

.dark-section{
    background-color: #86B6F6;
    color: #EEF5FF;
}

.btn{
    margin-bottom: 40px;
}

nav {
    background-color: #176B87;
}

.navbar-brand, .nav-link{
    color: #EEF5FF;
}

.footer{
    font-size: 0.75rem;
    margin-top: 10%;
}

.bottom-div{
    margin-bottom: 50px;
}